@media screen and (max-width: 720px) {
  .rmdb-heroimage-text {
    max-width: 100%;
  }

  .rmdb-heroimage-text h1 {
    font-size: 38px;
    color: #fff;
  }

  .rmdb-heroimage-text p {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
  }
}